html {
  font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
  color: #444;
}

body {
  text-align: center;
}

// Removing 300ms tap delay on the following elements
a, button, input, select, textarea, label, summary {
  touch-action: manipulation;
}

button {
  border: 1px solid #ccc;
  background-color: #f6f6f6;
  border-radius: 1em;
  padding: 2px 6px 4px;

  &:hover { background-color: #e8e8e8; }

  &.active {
    background-color: #c0d3ff;
    border-color: #a0c0e0;
  }

  &.remove:hover {
    background-color: #f8d8d8;
    border-color: #dbb;
  }
}

input[type=checkbox],
button {
  position: relative;
  top: -1px;
}

input[type=text] {
  border-radius: 1px;
  border: 1px solid #ccc;
  line-height: 1.4em;
}

ul {
  list-style: none;
  padding-left: 10px;
  margin: 0;
  text-align: left;
}
li + li { margin-top: .25em; }

label {
  display: inline-block;
  padding: 0 6px 0 1px;
  border-radius: 2px;

  &:hover { background-color: rgba(200,220,255,0.5) }
  &.done { text-decoration: line-through; }
}

app {
  display: inline-block;
  margin: 0 auto;
}
todo-adder, todos-filter {
  display: block;
  margin-bottom: 15px;
}
todo-adder {
  margin-right: -15px;
}
